#container-2 {
    position: relative;
    left: 300px;
    width: calc(100% - 320px);
    height: auto;
    background-color: var(--bg-color-1);
    padding: 10px;
    padding-top: 50px;
    transition: all 1s;
}

h2 {    
    color: var(--head-color);
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: var(--ul-color);
    text-underline-offset: 8px;
    padding: 8px;
    padding-bottom: 12px;
}

#about {
    overflow-wrap: break-word;
    padding: 10px;
    padding-right: 30px;
}

#about-img {
    padding: 10px;
    padding-top: 15px;
    float: left;
}

#img-container {
    padding: 10px;
    width: 100%;
    height: auto;
}

#b-txt {
    padding: 8px;
}


#side-txt {
    padding-left: 30px;
    overflow-wrap: break-word;
    width: 60%;
    color: var(--txt-color);
    float: left;
}

.detail-list li {
    display: inline;
    overflow: hidden;
}

.detail-list {
    padding-bottom: 10px;
}


.common-text{
    font-size: 1rem;
    font-family: "Open Sans",sans-serif !important;
    font-weight: 500;
    line-height: 1.5;
    color: var(--txt-color);
}


.arrow-bullet {
    overflow: hidden;
    padding-right: 50px;
}


.arrow-bullet::before {
    content: ">";
    color: #149ddd;
    font-size: 20px;
    position: relative;
    padding: 2px;
    padding-right: 10px;
    font-weight: bold;
    overflow: hidden;
}


@media only screen and (max-width: 1000px) {
    #container-2 {
        left: 0px;
        width: 100%;
    }
    #side-txt {
        padding-left: 0px;
        width: 95vw;
    }
    .detail-list li{
        display: block;
        overflow: hidden;
        padding-bottom: 10px;
    }
    #b-txt {
        padding: 0px;
    }
    #about-img {
        padding-left: 1px;
    }
}